<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    Quetion1:<input type="text" id="Question1"><br>
    Quetion2:<input type="text" id="Question2"><br>
    Quetion3:<input type="text" id="Question3"><br>
    Quetion4:<input type="text" id="Question4"><br>
    Quetion5:<input type="text" id="Question5"><br>
    <button id="btn_submit">點擊送出</button>
    
    <p id="Get_Result">Answer1<p>
    <!-- 引入内部JavaScript文件 -->
    <script  type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>